#balls-animation {
    background-image: url('/static/img/anim-busca.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 980px 360px;
    margin: 10vh auto 10vh;
    width: 100%;
    height: 360px;
}

span.tooltip {
    display: none;
    width: 100px;
    height: 15px;
    line-height: 15px;
    padding: 5px;
    font-size: 12px;
    text-align: center;
    color: white;
    background: black;
    border: 0 solid white;
    border-radius: 5px;
    text-shadow: rgba(0, 0, 0, 0.1) 1px 1px 1px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 2px 0px;
    z-index: 2;
}

span.tooltip:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: transparent;
    border-bottom-color: black;
    top: -20px;
    left: 45px;
}

#loading {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -32px;
    margin-top: -32px;
}

/* smartphone */
@media all and (max-width:30em) {
    #search-area {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        margin-left: -190px;
        margin-top: -120px;
        text-align: center;
        z-index: 2;
    }
}

/* computer */
@media all and (min-width:30em) {
    #search-area {
        margin: 0 auto 30px;
        text-align: center;
        z-index: 2;
    }
}

#search-area #textVal {
    border: none;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    color: #72d8f2;
    font-size: 36px;
    font-weight: 300;
    opacity: .8;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
#search-area #textVal:focus {
    outline: none;
}
#search-area #textVal::placeholder {
    color: #72d8f2;
    font-size: 36px;
}
#search-area #buttonBusca {
    color: black;
    padding: 0px 10px;
    font-size: 14px;
    margin-top: 10px;
}

/** Botoes dinamicos **/
/** style button initial **/
#search-area .empresa .btnRadio {
  background-color: transparent;
  border: 1px solid #cccccc;
  border-radius: 50px;
  transition: all .05s ease-in-out;
  color: #cccccc;
  width: auto;
  margin-top: 5px;
}

#search-area .empresa .btnRadio:hover {
    cursor: pointer;
}

/* show SVG */
#search-area .empresa .badge2 {
    background-color: transparent;
    color:transparent;
    border-radius: 100%;
    height: 15px;
    width: 15px;
    margin-top: 3px;
    margin-right: 3px;
    fill: #cccccc;
}

/* style button */
#search-area .empresa .badgebox:checked + .btnRadio {
    border: 3px solid #51c881;
    border-radius: 50px;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    color: #51c881;
    margin: 5px;
}

/* style SVG */
#search-area .empresa .badgebox:checked + label .cls {
    fill: #51c881;
    fill-opacity: 1;
}

/** style button initial **/
#search-area .mgp .btnRadio {
  background-color: transparent;
  border: 1px solid #cccccc;
  border-radius: 50px;
  transition: all .05s ease-in-out;
  color: #cccccc;
  width: auto;
  margin-top: 5px;
}

#search-area .mgp .btnRadio:hover {
    cursor: pointer;
}

/* show SVG */
#search-area .mgp .badge2 {
    background-color: transparent;
    color:transparent;
    border-radius: 100%;
    height: 15px;
    width: 15px;
    margin-top: 3px;
    margin-right: 3px;
    fill: #cccccc;
}

/* style button */
#search-area .mgp .badgebox:checked + .btnRadio {
    border: 3px solid #ab897f;
    border-radius: 50px;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    color: #ab897f;
    margin: 5px;
}

/* style SVG */
#search-area .mgp .badgebox:checked + label .cls {
    fill: #ab897f;
    fill-opacity: 1;
}

/** style button initial **/
#search-area .multa .btnRadio {
  background-color: transparent;
  border: 1px solid #cccccc;
  border-radius: 50px;
  transition: all .05s ease-in-out;
  color: #cccccc;
  width: auto;
  margin-top: 5px;
}

#search-area .multa .btnRadio:hover {
    cursor: pointer;
}

/* show SVG */
#search-area .multa .badge2 {
    background-color: transparent;
    color:transparent;
    border-radius: 100%;
    height: 15px;
    width: 15px;
    margin-top: 3px;
    margin-right: 3px;
    fill: #cccccc;
}

/* style button */
#search-area .multa .badgebox:checked + .btnRadio {
    border: 3px solid #ff524e;
    border-radius: 50px;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    color: #ff524e;
    margin: 5px;
}

/* style SVG */
#search-area .multa .badgebox:checked + label .cls {
    fill: #ff524e;
    fill-opacity: 1;
}

/** style button initial **/
#search-area .orgao .btnRadio {
  background-color: transparent;
  border: 1px solid #cccccc;
  border-radius: 50px;
  transition: all .05s ease-in-out;
  color: #cccccc;
  width: auto;
  margin-top: 5px;
}

#search-area .orgao .btnRadio:hover {
    cursor: pointer;
}

/* show SVG */
#search-area .orgao .badge2 {
    background-color: transparent;
    color:transparent;
    border-radius: 100%;
    height: 15px;
    width: 15px;
    margin-top: 3px;
    margin-right: 3px;
    fill: #cccccc;
}

/* style button */
#search-area .orgao .badgebox:checked + .btnRadio {
    border: 3px solid #ffb842;
    border-radius: 50px;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    color: #ffb842;
    margin: 5px;
}

/* style SVG */
#search-area .orgao .badgebox:checked + label .cls {
    fill: #ffb842;
    fill-opacity: 1;
}

/** style button initial **/
#search-area .personagem .btnRadio {
  background-color: transparent;
  border: 1px solid #cccccc;
  border-radius: 50px;
  transition: all .05s ease-in-out;
  color: #cccccc;
  width: auto;
  margin-top: 5px;
}

#search-area .personagem .btnRadio:hover {
    cursor: pointer;
}

/* show SVG */
#search-area .personagem .badge2 {
    background-color: transparent;
    color:transparent;
    border-radius: 100%;
    height: 15px;
    width: 15px;
    margin-top: 3px;
    margin-right: 3px;
    fill: #cccccc;
}

/* style button */
#search-area .personagem .badgebox:checked + .btnRadio {
    border: 3px solid #a176d1;
    border-radius: 50px;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    color: #a176d1;
    margin: 5px;
}

/* style SVG */
#search-area .personagem .badgebox:checked + label .cls {
    fill: #a176d1;
    fill-opacity: 1;
}

/** style button initial **/
#search-area .pessoa .btnRadio {
  background-color: transparent;
  border: 1px solid #cccccc;
  border-radius: 50px;
  transition: all .05s ease-in-out;
  color: #cccccc;
  width: auto;
  margin-top: 5px;
}

#search-area .pessoa .btnRadio:hover {
    cursor: pointer;
}

/* show SVG */
#search-area .pessoa .badge2 {
    background-color: transparent;
    color:transparent;
    border-radius: 100%;
    height: 15px;
    width: 15px;
    margin-top: 3px;
    margin-right: 3px;
    fill: #cccccc;
}

/* style button */
#search-area .pessoa .badgebox:checked + .btnRadio {
    border: 3px solid #00d1e2;
    border-radius: 50px;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    color: #00d1e2;
    margin: 5px;
}

/* style SVG */
#search-area .pessoa .badgebox:checked + label .cls {
    fill: #00d1e2;
    fill-opacity: 1;
}

/** style button initial **/
#search-area .telefone .btnRadio {
  background-color: transparent;
  border: 1px solid #cccccc;
  border-radius: 50px;
  transition: all .05s ease-in-out;
  color: #cccccc;
  width: auto;
  margin-top: 5px;
}

#search-area .telefone .btnRadio:hover {
    cursor: pointer;
}

/* show SVG */
#search-area .telefone .badge2 {
    background-color: transparent;
    color:transparent;
    border-radius: 100%;
    height: 15px;
    width: 15px;
    margin-top: 3px;
    margin-right: 3px;
    fill: #cccccc;
}

/* style button */
#search-area .telefone .badgebox:checked + .btnRadio {
    border: 3px solid #324eb6;
    border-radius: 50px;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    color: #324eb6;
    margin: 5px;
}

/* style SVG */
#search-area .telefone .badgebox:checked + label .cls {
    fill: #324eb6;
    fill-opacity: 1;
}

/** style button initial **/
#search-area .veiculo .btnRadio {
  background-color: transparent;
  border: 1px solid #cccccc;
  border-radius: 50px;
  transition: all .05s ease-in-out;
  color: #cccccc;
  width: auto;
  margin-top: 5px;
}

#search-area .veiculo .btnRadio:hover {
    cursor: pointer;
}

/* show SVG */
#search-area .veiculo .badge2 {
    background-color: transparent;
    color:transparent;
    border-radius: 100%;
    height: 15px;
    width: 15px;
    margin-top: 3px;
    margin-right: 3px;
    fill: #cccccc;
}

/* style button */
#search-area .veiculo .badgebox:checked + .btnRadio {
    border: 3px solid #ff8b63;
    border-radius: 50px;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    color: #ff8b63;
    margin: 5px;
}

/* style SVG */
#search-area .veiculo .badgebox:checked + label .cls {
    fill: #ff8b63;
    fill-opacity: 1;
}

/* smartshone */
@media all and (max-width:30em) {
    .containermenu {
        width: 95vw;
        margin-left: 0px;
    }
}    

/* computer */
@media all and (min-width:30em) {
    .containermenu {
        margin-left: 0px;
    }
}
    .englobamenu {
        position: relative;
        width:100%;
        height:200px;
        background:#E4EE91;
    }



.txtButton {
    margin-left: 10px;
}


.badgebox {
    opacity: 0;
    border-radius: 50%;
}

.badgebox + .badge2 {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-top: 4px;
    background-color: #fff;
}

/* smartshone */
@media all and (max-width:30em) {
    #step3 {
        padding-top: 20px;
        position: absolute;
        right: 20px;
        text-align: right;
        z-index: 2;
    }    

    .showingSidebarRight #step3 {
        margin-right: 0%;
    }

    #step3 #clear {
        width: 50px;
        height: 40px;
        background: url('/static/img/icon/menu.svg') no-repeat;
        border: none;
        margin-top: 10px;
    }

    #step3 #clear span {
        display: none;
    }

}

/* computer */
@media all and (min-width:30em) {
    #step3 {
        padding-top: 20px;
        position: absolute;
        right: 20px;
        text-align: right;
        z-index: 2;
    }    

    .showingSidebarRight #step3 {
        margin-right: 15%;
    }

    #step3 #clear {
        width: 64px;
        height: 64px;
        background: url('/static/img/icon/menu.svg') no-repeat;
        border: none;
    }

    #step3 #clear span {
        display: none;
    }
}



#search-result {
    height: 85vh;
    overflow-y: scroll;
}

.busca em {
    font-style: normal;
    border-bottom: 5px solid #FFD500;
}

.nav-tabs>li {
    filter: grayscale(1)
}

.nav-tabs>li.active {
    filter: grayscale(0)
}

.custom-tab {
    text-align: center;
}

.custom-tab img {
    margin-bottom: 5px;
    max-width: 60% !important; /* Brute force on Bootstrap */
}

.custom-tab p {
    margin: 0;
}

.custom-tab p.number {
    font-weight: 600;
}

.card-resultado {
    background: #f9f9f9;
    cursor: pointer;
    margin-top: 15px;
    padding: 10px;
    text-align: left;
}

.card-resultado img {
    margin-top: 10px;
}

.card-resultado h3 {
    margin: 0 0 5px;
}

.card-resultado dt {
    color: #9c9c9c;
    font-weight: normal;
}

.busca h3 {
    margin-bottom: 20px;
}

/* Bootstrap overload */
.nav-tabs {
    border-bottom: 1px solid transparent;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover {
    border: 1px solid transparent;
}

#search-details .card-resultado {
    background: initial;
    cursor: initial;
}

#search-details .card-resultado .title img {
    width: 184px;
}

#search-details .card-resultado h3 {
    cursor: pointer;
    font-size: 32px;
    font-weight: 300;
    margin: 20px 0;
    text-align: center;
}

#search-details .card-resultado .body {
    background: #f9f9f9;
    padding: 20px 40px;
}

#search-details .action {
    background-position: top center;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 140px;
    padding-top: 120px;
    text-transform: uppercase;
}

#search-details .busca-paradeiro {
    background-image: url('/static/img/icon/icon_paradeiro.svg');
    color: #72A5F2;
}

#search-details .caminho-exploratorio {
    background-image: url('/static/img/icon/icon_exploratorio.svg');
    color: #93F272;
}

#search-details .analise-de-vinculos {
    background-image: url('/static/img/icon/icon_vinculos.svg');
    color: #F2727B;
}

#whereabouts {
    text-align: left;
}

#whereabouts dl {
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

#whereabouts dl:last-child {
    border-bottom: none;
}

#whereabouts dt {
    font-size: .9em;
    font-weight: normal;
}

#whereabouts dd {
    font-weight: 700;
    margin-bottom: 10px;
}

#bond-analysis .entity > img {
    width: 120px;
    height: 120px;
}

#bond-analysis .entity input {
    background: none;
    border: none;
    border-bottom: 2px solid;
    display: block;
    font-size: 24px;
    font-weight: 300;
    margin-top: 30px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

#bond-analysis .entity-empty input {
    color: #f2727b;
}

#bond-analysis .add-bond {
    margin-top: 30px;
    position: relative;
}

#bond-analysis .add-bond img {
    background: white;
    padding: 0px 10px;
}

#bond-analysis .add-bond::after {
    border-bottom: 2px dashed;
    color: #72d8f2;
    content: '';
    position: absolute;
    width: 23vw;
    top: 30px;
    left: -7vw;
    z-index: -1;
}

#bond-analysis .text {
    color: #f2727b;
    text-transform: uppercase;
}

#bond-search-result {
    height: 75vh;
    left: 5.5vw;
    position: relative;
}