span.tooltip {
    display: none;
    width: 100px;
    height: 15px;
    line-height: 15px;
    padding: 5px;
    font-size: 12px;
    text-align: center;
    color: white;
    background: black;
    border: 0 solid white;
    border-radius: 5px;
    text-shadow: rgba(0, 0, 0, 0.1) 1px 1px 1px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 2px 0px;
    z-index: 2;
}

span.tooltip:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: transparent;
    border-bottom-color: black;
    top: -20px;
    left: 45px;
}

#loading {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -32px;
    margin-top: -32px;
}

/* smartphone */
@media all and (max-width:30em) {
    #search-area {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        margin-left: -190px;
        margin-top: -120px;
        text-align: center;
        z-index: 2;
    }
}

/* computer */
@media all and (min-width:30em) {
    #search-area {
        margin: 0 auto 30px;
        text-align: center;
        z-index: 2;
    }
}

#search-area #textVal {
    border: none;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    color: #72d8f2;
    font-size: 50px;
    font-weight: bold;
    opacity: .8;
    text-align: center;
    width: 100%;
}
#search-area #textVal:focus {
    outline: none;
}
#search-area #textVal::placeholder {
    color: #72d8f2;
    font-size: 50px;
}
#search-area #buttonBusca {
    color: black;
    padding: 0px 10px;
    font-size: 14px;
    margin-top: 10px;
}

/** Botoes dinamicos **/
/** style button initial **/
#search-area .empresa .btnRadio {
  background-color: transparent;
  border: 1px solid #cccccc;
  border-radius: 50px;
  transition: all .05s ease-in-out;
  color: #cccccc;
  width: auto;
  margin-top: 5px;
}

#search-area .empresa .btnRadio:hover {
    cursor: pointer;
}

/* show SVG */
#search-area .empresa .badge2 {
    background-color: transparent;
    color:transparent;
    border-radius: 100%;
    height: 15px;
    width: 15px;
    margin-top: 3px;
    margin-right: 3px;
    fill: #cccccc;
}

/* style button */
#search-area .empresa .badgebox:checked + .btnRadio {
    border: 3px solid #51c881;
    border-radius: 50px;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    color: #51c881;
    margin: 5px;
}

/* style SVG */
#search-area .empresa .badgebox:checked + label .cls {
    fill: #51c881;
    fill-opacity: 1;
}

/** style button initial **/
#search-area .mgp .btnRadio {
  background-color: transparent;
  border: 1px solid #cccccc;
  border-radius: 50px;
  transition: all .05s ease-in-out;
  color: #cccccc;
  width: auto;
  margin-top: 5px;
}

#search-area .mgp .btnRadio:hover {
    cursor: pointer;
}

/* show SVG */
#search-area .mgp .badge2 {
    background-color: transparent;
    color:transparent;
    border-radius: 100%;
    height: 15px;
    width: 15px;
    margin-top: 3px;
    margin-right: 3px;
    fill: #cccccc;
}

/* style button */
#search-area .mgp .badgebox:checked + .btnRadio {
    border: 3px solid #ab897f;
    border-radius: 50px;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    color: #ab897f;
    margin: 5px;
}

/* style SVG */
#search-area .mgp .badgebox:checked + label .cls {
    fill: #ab897f;
    fill-opacity: 1;
}

/** style button initial **/
#search-area .multa .btnRadio {
  background-color: transparent;
  border: 1px solid #cccccc;
  border-radius: 50px;
  transition: all .05s ease-in-out;
  color: #cccccc;
  width: auto;
  margin-top: 5px;
}

#search-area .multa .btnRadio:hover {
    cursor: pointer;
}

/* show SVG */
#search-area .multa .badge2 {
    background-color: transparent;
    color:transparent;
    border-radius: 100%;
    height: 15px;
    width: 15px;
    margin-top: 3px;
    margin-right: 3px;
    fill: #cccccc;
}

/* style button */
#search-area .multa .badgebox:checked + .btnRadio {
    border: 3px solid #ff524e;
    border-radius: 50px;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    color: #ff524e;
    margin: 5px;
}

/* style SVG */
#search-area .multa .badgebox:checked + label .cls {
    fill: #ff524e;
    fill-opacity: 1;
}

/** style button initial **/
#search-area .orgao .btnRadio {
  background-color: transparent;
  border: 1px solid #cccccc;
  border-radius: 50px;
  transition: all .05s ease-in-out;
  color: #cccccc;
  width: auto;
  margin-top: 5px;
}

#search-area .orgao .btnRadio:hover {
    cursor: pointer;
}

/* show SVG */
#search-area .orgao .badge2 {
    background-color: transparent;
    color:transparent;
    border-radius: 100%;
    height: 15px;
    width: 15px;
    margin-top: 3px;
    margin-right: 3px;
    fill: #cccccc;
}

/* style button */
#search-area .orgao .badgebox:checked + .btnRadio {
    border: 3px solid #ffb842;
    border-radius: 50px;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    color: #ffb842;
    margin: 5px;
}

/* style SVG */
#search-area .orgao .badgebox:checked + label .cls {
    fill: #ffb842;
    fill-opacity: 1;
}

/** style button initial **/
#search-area .personagem .btnRadio {
  background-color: transparent;
  border: 1px solid #cccccc;
  border-radius: 50px;
  transition: all .05s ease-in-out;
  color: #cccccc;
  width: auto;
  margin-top: 5px;
}

#search-area .personagem .btnRadio:hover {
    cursor: pointer;
}

/* show SVG */
#search-area .personagem .badge2 {
    background-color: transparent;
    color:transparent;
    border-radius: 100%;
    height: 15px;
    width: 15px;
    margin-top: 3px;
    margin-right: 3px;
    fill: #cccccc;
}

/* style button */
#search-area .personagem .badgebox:checked + .btnRadio {
    border: 3px solid #a176d1;
    border-radius: 50px;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    color: #a176d1;
    margin: 5px;
}

/* style SVG */
#search-area .personagem .badgebox:checked + label .cls {
    fill: #a176d1;
    fill-opacity: 1;
}

/** style button initial **/
#search-area .pessoa .btnRadio {
  background-color: transparent;
  border: 1px solid #cccccc;
  border-radius: 50px;
  transition: all .05s ease-in-out;
  color: #cccccc;
  width: auto;
  margin-top: 5px;
}

#search-area .pessoa .btnRadio:hover {
    cursor: pointer;
}

/* show SVG */
#search-area .pessoa .badge2 {
    background-color: transparent;
    color:transparent;
    border-radius: 100%;
    height: 15px;
    width: 15px;
    margin-top: 3px;
    margin-right: 3px;
    fill: #cccccc;
}

/* style button */
#search-area .pessoa .badgebox:checked + .btnRadio {
    border: 3px solid #00d1e2;
    border-radius: 50px;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    color: #00d1e2;
    margin: 5px;
}

/* style SVG */
#search-area .pessoa .badgebox:checked + label .cls {
    fill: #00d1e2;
    fill-opacity: 1;
}

/** style button initial **/
#search-area .telefone .btnRadio {
  background-color: transparent;
  border: 1px solid #cccccc;
  border-radius: 50px;
  transition: all .05s ease-in-out;
  color: #cccccc;
  width: auto;
  margin-top: 5px;
}

#search-area .telefone .btnRadio:hover {
    cursor: pointer;
}

/* show SVG */
#search-area .telefone .badge2 {
    background-color: transparent;
    color:transparent;
    border-radius: 100%;
    height: 15px;
    width: 15px;
    margin-top: 3px;
    margin-right: 3px;
    fill: #cccccc;
}

/* style button */
#search-area .telefone .badgebox:checked + .btnRadio {
    border: 3px solid #324eb6;
    border-radius: 50px;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    color: #324eb6;
    margin: 5px;
}

/* style SVG */
#search-area .telefone .badgebox:checked + label .cls {
    fill: #324eb6;
    fill-opacity: 1;
}

/** style button initial **/
#search-area .veiculo .btnRadio {
  background-color: transparent;
  border: 1px solid #cccccc;
  border-radius: 50px;
  transition: all .05s ease-in-out;
  color: #cccccc;
  width: auto;
  margin-top: 5px;
}

#search-area .veiculo .btnRadio:hover {
    cursor: pointer;
}

/* show SVG */
#search-area .veiculo .badge2 {
    background-color: transparent;
    color:transparent;
    border-radius: 100%;
    height: 15px;
    width: 15px;
    margin-top: 3px;
    margin-right: 3px;
    fill: #cccccc;
}

/* style button */
#search-area .veiculo .badgebox:checked + .btnRadio {
    border: 3px solid #ff8b63;
    border-radius: 50px;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    color: #ff8b63;
    margin: 5px;
}

/* style SVG */
#search-area .veiculo .badgebox:checked + label .cls {
    fill: #ff8b63;
    fill-opacity: 1;
}

/* smartshone */
@media all and (max-width:30em) {
    .containermenu {
        width: 95vw;
        margin-left: 0px;
    }
}    

/* computer */
@media all and (min-width:30em) {
    .containermenu {
        margin-left: 0px;
    }
}
    .englobamenu {
        position: relative;
        width:100%;
        height:200px;
        background:#E4EE91;
    }



.txtButton {
    margin-left: 10px;
}


.badgebox {
    opacity: 0;
    border-radius: 50%;
}

.badgebox + .badge2 {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-top: 4px;
    background-color: #fff;
}

/* smartshone */
@media all and (max-width:30em) {
    #step3 {
        padding-top: 20px;
        position: absolute;
        right: 20px;
        text-align: right;
        z-index: 2;
    }    

    .showingSidebarRight #step3 {
        margin-right: 0%;
    }

    #step3 #clear {
        width: 50px;
        height: 40px;
        background: url('/static/img/icon/menu.svg') no-repeat;
        border: none;
        margin-top: 10px;
    }

    #step3 #clear span {
        display: none;
    }

}

/* computer */
@media all and (min-width:30em) {
    #step3 {
        padding-top: 20px;
        position: absolute;
        right: 20px;
        text-align: right;
        z-index: 2;
    }    

    .showingSidebarRight #step3 {
        margin-right: 15%;
    }

    #step3 #clear {
        width: 64px;
        height: 64px;
        background: url('/static/img/icon/menu.svg') no-repeat;
        border: none;
    }

    #step3 #clear span {
        display: none;
    }
}







.busca em {
    background-color: yellow;
    font-style: normal;
}

.card-resultado {
    background: #f9f9f9;
    margin-top: 15px;
    padding: 10px;
}

.card-resultado h3 {
    margin: 0 0 5px;
    text-align: left;
}

.card-resultado dt {
    color: #9c9c9c;
    font-weight: normal;
}

.busca .pessoa h3,
.busca .pessoa dd {
    color: #72d8f2;
}

.busca .veiculo h3,
.busca .veiculo dd {
    color: #f2727b;
}

