.color-documento,
.color-documento_personagem,
.color-documento:hover,
.color-documento_personagem:hover,
.color-documento:focus,
.color-documento_personagem:focus,
.color-documento::placeholder,
.color-documento_personagem::placeholder {
    color: #ae70af;
}
.bgcolor-documento,
.bgcolor-documento_personagem {
    background-color: #ae70af;
}

.color-embarcacao,
.color-embarcacao:hover,
.color-embarcacao:focus,
.color-embarcacao::placeholder {
    color: #186bb6;
}
.bgcolor-embarcacao {
    background-color: #186bb6;
}

.color-empresa,
.color-pessoa_juridica,
.color-empresa:hover,
.color-pessoa_juridica:hover,
.color-empresa:focus,
.color-pessoa_juridica:focus,
.color-empresa::placeholder,
.color-pessoa_juridica::placeholder {
    color: #60b87f;
}
.bgcolor-empresa,
.bgcolor-pessoa_juridica {
    background-color: #60b87f;
}

.color-mgp,
.color-mgp:hover,
.color-mgp:focus,
.color-mgp::placeholder {
    color: #ab897f;
}
.bgcolor-mgp {
    background-color: #ab897f;
}

.color-multa,
.color-multa:hover,
.color-multa:focus,
.color-multa::placeholder {
    color: #ff524e;
}
.bgcolor-multa {
    background-color: #ff524e;
}

.color-orgao,
.color-orgao:hover,
.color-orgao:focus,
.color-orgao::placeholder {
    color: #ffb842;
}
.bgcolor-orgao {
    background-color: #ffb842;
}

.color-personagem,
.color-personagem:hover,
.color-personagem:focus,
.color-personagem::placeholder {
    color: #a176d1;
}
.bgcolor-personagem {
    background-color: #a176d1;
}

.color-pessoa,
.color-pessoa:hover,
.color-pessoa:focus,
.color-pessoa::placeholder {
    color: #72d8f2;
}
.bgcolor-pessoa {
    background-color: #72d8f2;
}

.color-telefone,
.color-telefone:hover,
.color-telefone:focus,
.color-telefone::placeholder {
    color: #324eb6;
}
.bgcolor-telefone {
    background-color: #324eb6;
}

.color-veiculo,
.color-veiculo:hover,
.color-veiculo:focus,
.color-veiculo::placeholder {
    color: #f2727b;
}
.bgcolor-veiculo {
    background-color: #f2727b;
}
