.entitylist {
    background: #fff;
    display: none;
    position: fixed;
    left: 0;
    z-index: 2;
    border-right: 1px solid black;
    height: calc(100% - 70px);
    padding: 30px 10px;
    overflow-y: scroll;
}

.entitylist h2 {
    font-size: .85em;
}

.entitylist a {
    font-weight: bold;
    text-transform: uppercase;
}

.entitylist dt,
.entitylist dd {
    display: block;
    font-size: .8em
}

/*
** Jquery UI override
*/
.ui-widget-header {
    background: #72D8F2
}

.ui-widget-header:nth-of-type(2) {
    background: #ccc
}

.ui-dialog-titlebar {
    color: #fff;
    text-transform: uppercase;
}

.ui-dialog-titlebar-close {
    display: none;
}