#neo4jd3 .personagem {
  background-image: url("/static/img/icon/graph/personagem.svg")
}

#neo4jd3 .pessoa {
  background-image: url("/static/img/icon/graph/pessoa.svg")
}

#neo4jd3 .empresa {
  background-image: url("/static/img/icon/graph/empresa.svg")
}

#neo4jd3 .telefone {
  background-image: url("/static/img/icon/graph/telefone.svg")
}

#neo4jd3 .multa {
  background-image: url("/static/img/icon/graph/multa.svg")
}

#neo4jd3 .veiculo {
  background-image: url("/static/img/icon/graph/veiculo.svg")
}

#neo4jd3 .orgao {
  background-image: url("/static/img/icon/graph/orgao.svg")
}

#neo4jd3 .mgp{
  background-image: url("/static/img/icon/graph/mgp.svg")
}