#sidebarRight {
  display: none;
  width: 25%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

#closeSidebarRight {
  width: 50%;
  height: 25%;
  top: 0;
  right: 0;
  background-color: red;
}

#sidebarRight > div {
  border-left: 1px black solid;
  height: 100%;
}

#sidebarRight > div > span {
  display: block;
  margin: 0px 20px 20px 20px;
}