#graph {
    width: 100%;
    height: 100%;
}

.logo {
    background-color: white;
    background-image: url('/static/img/logo-conexao.svg');
    background-position: top center;
    background-repeat: no-repeat;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    top: 20px;
    width: 200px;
    height: 64px;
    margin-left: -100px;
}

.mprj {
    background-color: white;
    background-image: url('/static/img/Logo-mpemmapas.svg');
    background-position: top center;
    background-repeat: no-repeat;
    border-radius: 36px;
    position: absolute;
    width: 140px;
    height: 72px;
    bottom: 20px;
    right: 0;
    margin-right: 20px;
    transition: right .2s ease-in-out;
}
.showingSidebarRight .mprj {
    right: 15%;
}
.mprj span {
    display: none;
}

.legend {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font: 14px Roboto;
}

.legend span.text {
    position: relative;
    top: -6px;
    margin-left: 5px;
}

.legend .ball {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 12px;
}

.legend #legend-call .ball {
    background-color: #7ab3ff;
}
.legend .empresa .ball {
    background-color: #51c881;
}
.legend .mgp .ball {
    background-color: #ab897f;
}
.legend .multa .ball {
    background-color: #ff524e;
}
.legend .orgao .ball {
    background-color: #ffb842;
}
.legend .personagem .ball {
    background-color: #a176d1;
}
.legend .pessoa .ball {
    background-color: #00d1e2;
}
.legend .telefone .ball {
    background-color: #324eb6;
}
.legend .veiculo .ball {
    background-color: #ff8b63;
}

#legend-call span.text,
#legend-expanded .empresa span.text,
#legend-expanded .mgp span.text,
#legend-expanded .multa span.text,
#legend-expanded .orgao span.text,
#legend-expanded .personagem span.text,
#legend-expanded .pessoa span.text,
#legend-expanded .telefone span.text,
#legend-expanded .veiculo span.text {
    display: none;
}

#legend-call:hover span.text,
#legend-expanded .empresa:hover span.text,
#legend-expanded .mgp:hover span.text,
#legend-expanded .multa:hover span.text,
#legend-expanded .orgao:hover span.text,
#legend-expanded .personagem:hover span.text,
#legend-expanded .pessoa:hover span.text,
#legend-expanded .telefone:hover span.text,
#legend-expanded .veiculo:hover span.text {
    display: inline;
}
