/* smartphone */
@media all and (max-width:30em) {
    #fullSidebarRight {
        background-color:#FFFFFF;
        background-position: top center;
        background-repeat: no-repeat;
        border-radius: 36px;
        border: none;
        position: absolute;
        width: 80px;
        height: 40px;
        bottom: 20px;
        right: 0;
        margin-right: 45vw;
        transition: right .2s ease-in-out;
        outline-style: none;
    }

    #sidebarRight {
        display: none;
        z-index: 2;
        height: 100%;
        width: 0%;
        position: absolute;
        top: 0;
        right: 0;
        color: #848484;
        box-shadow: -5px 0px 10px #f1f1f1;
        background: rgb(255, 255, 255);
    }

    #closeSidebarRight {
        /* padding: 50px; */
        font-size: 30px;
        position: absolute;
        bottom: 0;
        box-sizing: border-box;
        width: 100%;
        right: 0;
        border: none;
        background: none;
        background-position: center;
        background-repeat: no-repeat;
    }  
}

/* computer */
@media all and (min-width:30em) {
    #fullSidebarRight {
        display: none;
    }  

    #sidebarRight {
        display: none;
        height: 100%;
        height: calc(100% - 5px);
        position: relative;
        top: -2px;
        right: 0;
        color: #848484;
    }

    #closeSidebarRight {
        padding: 30px;
        font-size: 0;
        position: absolute;
        top: -54px;
        box-sizing: border-box;
        right: 0;
        border: none;
        background: none;
        background-position: center;
        background-repeat: no-repeat;
    }
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

#content {
    height: 60vh;
}

.sidebarRight-label {
    font-size: 0.7em;
}

#valuesContainer {
    max-height: 70%;
    overflow-y: scroll;
}

#valuesContainer span {
    display: block;
    margin: 0px 20px 20px 20px;
}

.header {
    margin-bottom: 20px;
    width: 100%;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px;
    text-align: center;
}

.header img {
    height: 100%;
}

.documento .header {
    background-image: url("/static/img/icon/documento-fundobranco.svg")
}

.embarcacao .header {
    background-image: url("/static/img/icon/embarcacao-fundobranco.svg")
}

.empresa .header {
    background-image: url("/static/img/icon/empresa-fundobranco.svg")
}

.mgp .header{
    background-image: url("/static/img/icon/mgp-fundobranco.svg")
}

.multa .header {
    background-image: url("/static/img/icon/multa-fundobranco.svg")
}

.orgao .header {
    background-image: url("/static/img/icon/orgao-fundobranco.svg")
}

.personagem .header {
    background-image: url("/static/img/icon/personagem-fundobranco.svg")
}

.pessoa .header {
    background-image: url("/static/img/icon/pessoa-fundobranco.svg")
}

.sigiloso .header {
    background-image: url("/static/img/icon/sigiloso-fundobranco.svg")
}

.telefone .header {
    background-image: url("/static/img/icon/telefone-fundobranco.svg")
}

.veiculo .header {
    background-image: url("/static/img/icon/veiculo-fundobranco.svg")
}

.documento #closeSidebarRight {
    background-image: url("/static/img/icon/documento-x.svg")
}

.documento #fullSidebarRight {
    background-image: url("/static/img/icon/documento-inf.svg")
}

.embarcacao #closeSidebarRight {
    background-image: url("/static/img/icon/embarcacao-x.svg")
}

.embarcacao #fullSidebarRight {
    background-image: url("/static/img/icon/embarcacao-inf.svg")
}

.empresa #closeSidebarRight {
    background-image: url("/static/img/icon/empresa-x.svg")
}

.empresa #fullSidebarRight {
    background-image: url("/static/img/icon/empresa-inf.svg")
}

.mgp #closeSidebarRight{
    background-image: url("/static/img/icon/mgp-x.svg")
}

.mgp #fullSidebarRight {
    background-image: url("/static/img/icon/mgp-inf.svg")
}

.multa #closeSidebarRight {
    background-image: url("/static/img/icon/multa-x.svg")
}

.multa #fullSidebarRight {
    background-image: url("/static/img/icon/pessoa-inf.svg")
}

.orgao #closeSidebarRight {
    background-image: url("/static/img/icon/orgao-x.svg")
}

.orgao #fullSidebarRight {
    background-image: url("/static/img/icon/orgao-inf.svg")
}

.personagem #closeSidebarRight {
    background-image: url("/static/img/icon/personagem-x.svg")
}

.personagem #fullSidebarRight {
    background-image: url("/static/img/icon/personagem-inf.svg")
}

.pessoa #closeSidebarRight {
    background-image: url("/static/img/icon/pessoa-x.svg")
}

.pessoa #fullSidebarRight {
    background-image: url("/static/img/icon/pessoa-inf.svg")
}

.sigiloso #closeSidebarRight {
    background-image: url("/static/img/icon/sigiloso-x.svg")
}

.sigiloso #fullSidebarRight {
    background-image: url("/static/img/icon/sigiloso-inf.svg")
}

.telefone #closeSidebarRight {
    background-image: url("/static/img/icon/telefone-x.svg")
}

.telefone #fullSidebarRight {
    background-image: url("/static/img/icon/telefone-inf.svg")
}

.veiculo #closeSidebarRight {
    background-image: url("/static/img/icon/veiculo-x.svg")
}

.veiculo #fullSidebarRight {
    background-image: url("/static/img/icon/veiculo-inf.svg")
}

/*
** Jquery UI override
*/

.ui-dialog .ui-dialog-content {
    padding: 0;
}