<!doctype html>
<html>
    <head>
        <base href="/">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <title>Conexão</title>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
        {% assets "css" %}
            <link rel="stylesheet" href="{{ ASSET_URL }}">
        {% endassets %}
    </head>
    <body class="container-fluid">
        <header>
        <div class="col-lg-12">
            <div class="col-lg-2">
                <a class="logo" href="/">Logo do sistema conexão</a>
            </div>
            <div class="col-lg-8">
                <p id="version">
                    <span id="version_number"></span><span id="version_username">{{session['usuario']}}</span>
                </p>
            </div>
            <div class="col-lg-2">
                <div class="header-logos-container">
                    <a href="http://apps.mprj.mp.br/sistema/cadg/" class="mprj">
                        <span><abbr title="Ministério Público">MP</abbr> em Mapas</span>
                    </a>
                    <a href="http://www.mprj.mp.br/" class="csi">
                        <span><abbr title="Coordenadoria de Segurança e Inteligência">CSI</abbr></span>
                    </a>
                    <button onclick="logout()" class="logout">Sair</button>
                </div>
            </div>
        </div>
        </header>
        <div id="compliance" class="row">
            <div class="col-md-1 col-lg-4"></div>
            <div class="col-md-10 col-lg-4 compliance-main">
                <div class="row">
                    <div id="compliance-buttons">
                        <div class="col-sm-6">
                            <button class="btn btn-lg btn-block btn-info" onclick="showComplianceForm()">Uso em<br>Procedimento</button>
                        </div>
                        <div class="col-sm-6">
                            <button class="btn btn-lg btn-block btn-danger" onclick="complianceNoProcedure()">Uso sem<br>Procedimento</button>
                        </div>
                    </div>
                    <div id="compliance-form">
                        <p style="cursor:pointer" onclick="showCompliance()">⬅️ Voltar</p>
                        <div class="form-group" id="procedure-form-group">
                            <label for="procedure-number">Número do Procedimento</label>
                            <input type="text" id="procedure-number" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="query-objective">Objetivo da Consulta</label>
                            <textarea id="query-objective" class="form-control" rows="5"></textarea>
                        </div>
                        <button class="btn btn-lg btn-block btn-info" onclick="complianceProcedure()">Entrar no Conexão</button>
                    </div>
                    <div class="col-sm-12">
                        <p>❗️ O <strong>uso em procedimento</strong> deve ser marcado caso a pesquisa se destine à utilização em procedimento judicial ou extrajudicial. Grava os dados do processo no cabeçalho de impressão. O <strong>uso sem procedimento</strong> grava esta informação no cabeçalho de impressão e registra que o usuário se compromete a não dar qualquer forma de publicidade aos dados pessoais obtidos nas pesquisas. Os parâmetros de pesquisa devem seguir o disposto na <a href="http://www.planalto.gov.br/ccivil_03/_Ato2015-2018/2018/Lei/L13709.htm" target="_blank">Lei 13.709/2018</a>, especialmente nos artigos 5º, 6º e 23, caput, observadas as exceções no artigo 4º. Relembramos que todas as atividades de pesquisa são registradas e auditáveis.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-1 col-lg-4"></div>
        </div>
        <div class="entitylist">
            <p>As entidades exibidas no grafo são exibidas nesta janela lateral.</p>
            <p>Clique em um tipo para exibir ou ocultar as entidades.</p>
            <p>Clique numa entidade para lhe dar destaque.</p>
            <input id="entitylistfilter" placeholder="digite aqui para filtrar" onkeyup="filterEntityList()">
            <div id="entitylist"></div>
        </div>
        <div class="container-graph">
            <main>
                <div class="col-lg-8 col-lg-offset-2 busca">
                    <div id="loading">
                        <img src="/static/img/icon/Loading_icon.gif">
                    </div>
                    <div id="search-area" class="hidden">
                        <div id="balls-animation"></div>
                        <form id="form-search-area">
                            <div id="textBusca">
                                <input type="text" placeholder="O que deseja procurar?" id="textVal" autofocus/>
                            </div>
                        </form>
                    </div>
                    <div id="search-result"></div>
                    <div id="search-details"></div>
                    <div id="bond-analysis"></div>
                    <div id="whereabouts"></div>
                    <div id="step4" class="hidden">
                        <button id="clear">
                            <span>Voltar para a busca</span>
                        </button>
                    </div>
                </div>
                <div id="graph" class="graphhidden"></div>
                <div id="graph-popup"></div>
            </main>
            <footer class="hidden">
                <div class="footer">
                    <div class="col-lg-1">
                        <div class="filter">
                            <div class="hidden" id="filter-expanded">
                                <div class="entity empresa">
                                    <span class="ball"></span>
                                    <span class="text">Empresa</span>
                                </div>
                                <div class="entity mgp">
                                    <span class="ball"></span>
                                    <span class="text">MGP</span>
                                </div>
                                <div class="entity multa">
                                    <span class="ball"></span>
                                    <span class="text">Multa</span>
                                </div>
                                <div class="entity orgao">
                                    <span class="ball"></span>
                                    <span class="text">Órgão</span>
                                </div>
                                <div class="entity personagem">
                                    <span class="ball"></span>
                                    <span class="text">Personagem</span>
                                </div>
                                <div class="entity pessoa">
                                    <span class="ball"></span>
                                    <span class="text">Pessoa</span>
                                </div>
                                <div class="entity telefone">
                                    <span class="ball"></span>
                                    <span class="text">Telefone</span>
                                </div>
                                <div class="entity veiculo">
                                    <span class="ball"></span>
                                    <span class="text">Veículo</span>
                                </div>
                            </div>
                            <div id="filter-call">
                                <span class="ball"></span>
                                <!-- <span class="text">Clique para filtrar tipos de entidades</span> -->
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <aside id="sidebarRight"></aside>
        {% assets "js" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
        <script type="module" src="/static/js/main.js"></script>
        {% if filtroinicial is defined %}
            <script>
                setTimeout(() => {
                    console.log("Veio do Domínio")

                    window.filtroInicial = {
                        label: '{{ filtroinicial.label }}',
                        prop: '{{ filtroinicial.prop }}',
                        val: '{{ filtroinicial.val }}'
                    }
                    
                    findNodes(
                        filtroInicial.label,
                        filtroInicial.prop,
                        filtroInicial.val
                    )
                }, 1000)
            </script>
        {% endif %}
    </body>
</html>
