<!doctype html>
<html>
    <head>
        <base href="/">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <title>Conexão</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        {% assets "css" %}
            <link rel="stylesheet" href="{{ ASSET_URL }}">
            
        {% endassets %}
        
        <style>
            body,
            html,
            .graph {
                height: 100%;
                overflow: hidden;
            }
        </style>
    </head>
    <body>
        <div class="logo"></div>
        <div class="busca">
            <div id="loading">
                <img src="/static/img/icon/Loading_icon.gif">
            </div>
            <div id="step1" class="hidden">
                <div class="comece-aqui" id="comece-aqui">
                    <img src="/static/img/icon/menu.svg" alt="Comece aqui">
                    <span class="tooltip">Comece aqui</span>
                </div>
                <div class="opcoes hidden" id="opcoes"></div>
            </div>
            <div id="step2" class="hidden">
                <div id="form-step2">
                    <input type="hidden" id="selectLabel">
                    <div class="step2-avatar">
                        <img id="step2img">
                    </div>
                        <div id="selectProp"></div>
                    <div id="textBusca">
                        <input type="text" placeholder="Digite aqui o valor que deseja buscar" id="textVal">
                        <button id="buttonBusca">Localizar 🔎</button>
                    </div>

                </div>
            </div>
            <div id="step3" class="hidden">
                <button id="clear">
                    <span>Voltar para a busca</span>
                </button>
            </div>
        </div>
        <div id="graph"></div>
        <div id="graph-popup"></div>
        <aside id="sidebarRight"></aside>
        <div class="footer">
            <div class="filter">
                <div class="hidden" id="filter-expanded">
                    <div class="entity empresa">
                        <span class="ball"></span>
                        <span class="text">Empresa</span>
                    </div>
                    <div class="entity mgp">
                        <span class="ball"></span>
                        <span class="text">MGP</span>
                    </div>
                    <div class="entity multa">
                        <span class="ball"></span>
                        <span class="text">Multa</span>
                    </div>
                    <div class="entity orgao">
                        <span class="ball"></span>
                        <span class="text">Órgão</span>
                    </div>
                    <div class="entity personagem">
                        <span class="ball"></span>
                        <span class="text">Personagem</span>
                    </div>
                    <div class="entity pessoa">
                        <span class="ball"></span>
                        <span class="text">Pessoa</span>
                    </div>
                    <div class="entity telefone">
                        <span class="ball"></span>
                        <span class="text">Telefone</span>
                    </div>
                    <div class="entity veiculo">
                        <span class="ball"></span>
                        <span class="text">Veículo</span>
                    </div>
                </div>
                <div id="filter-call">
                    <span class="ball"></span>
                    <span class="text">Clique para filtrar tipos de entidades</span>
                </div>
            </div>
            <a href="http://apps.mprj.mp.br/sistema/cadg/" class="mprj">
                <span><abbr title="Ministério Público">MP</abbr> em Mapas</span>
            </a>
        </div>
        {% assets "js" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
        {% if filtroinicial is defined %}
            <script>
                window.filtroInicial = {
                    label: '{{ filtroinicial.label }}',
                    prop: '{{ filtroinicial.prop }}',
                    val: '{{ filtroinicial.val }}'
                }
                
                document.getElementById('loading').className = 'hidden'
                
                _findNodes(
                    filtroInicial.label,
                    filtroInicial.prop,
                    filtroInicial.val
                )
            </script>
        {% endif %}
    </body>
</html>
